:root {
    --darkBlue: #2C3E50;
    --blue: #3A546D;
    --green: #1ABC9C;
    --darkGreen: #15a084;
    --greenAlpha: #1ABC9C80;
    --white: #fff;

}


body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

._line-dark {
    max-width: 100px;
    height: 3px;
    background-color: var(--darkBlue);
}

._decoration-dark {
    color: var(--darkBlue);
}

._line-light {
    max-width: 100px;
    height: 3px;
    background-color: var(--white);
}

._decoration-light {
    color: var(--white);
}

.btn-primary {
    background-color: var(--green);
    border-color: var(--green);
}

.btn-primary:hover {
    background-color: var(--darkGreen);
    border-color: var(--darkGreen);
}

.link-primary {
    color: var(--green);
    text-decoration: none;
    transition: color 0.2s;
}

.link-primary:hover {
    color: var(--darkGreen);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--white);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--green);
}




/* header */
header {
    background-color: var(--darkBlue);
}

header #navbarNav {
    flex-grow: 0;
    font-size: 0.8rem;
}




/* jumbotron */
#jumbotron {
    background-color: var(--green);
    color: var(--white);
}

#jumbotron > div {
    max-width: 400px;
}

#jumbotron img {
    width: 10rem;
    display: block;
}




/* portfolio */
#portfolio ._decoration {
    color: var(--darkBlue);
}

#portfolio ._img-box {
    overflow: hidden;
    position: relative;
}

#portfolio ._img-hov {
    background-color: transparent;
    color: var(--white);
    font-size: 5rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s, background-color 0.3s;
}

#portfolio ._img-hov > [class*="fa"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#portfolio ._img-hov:hover {
    background-color: var(--greenAlpha);
    cursor: pointer;
    opacity: 1;
}




/* about */
#about {
    background-color: var(--green);
    color: var(--white);
}




/* contact */
#contact .form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#contact .form-control,
#contact .form-control::placeholder {
    color: var(--darkBlue);
}

#contact .form-control:active,
#contact .form-control:focus {
    border-bottom-color: var(--blue);
    outline: none;
    box-shadow: none;
}




/* footer */
footer {
    color: var(--white);
    background-color: var(--blue);
}

footer .colophon {
    background-color: var(--darkBlue);
    font-size: 0.8rem;
}

._social-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer a._social-icon {
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    color: var(--white);
    text-decoration: none;
    padding: 0.12rem;
    margin: 0 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px var(--white) solid;
    transition: color 0.2s, border 0.2s;
}

footer a._social-icon:hover {
    border: 1px var(--green) solid;
    color: var(--green);
    text-decoration: none;
}