:root {
    --darkBlue: #2C3E50;
    --blue: #3A546D;
    --green: #1ABC9C;
    --darkGreen: #15a084;
    --white: #fff;
}


body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

._line-dark {
    max-width: 100px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--darkBlue);
}

._decoration-dark {
    color: var(--darkBlue);
}

._line-light {
    max-width: 100px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--white);
}

._decoration-light {
    color: var(--white);
}

.btn-primary {
    background-color: var(--green);
    border-color: var(--green);
}

.btn-primary:hover {
    background-color: var(--darkGreen);
    border-color: var(--darkGreen);
}

.btn-outline-primary {
    border-color: var(--white);
}

.btn-outline-primary:hover {
    background-color: var(--darkGreen);
    border-color: var(--darkGreen);
}




/* header */
header {
    background-color: var(--darkBlue);
}

header #navbarNav {
    flex-grow: 0;
    font-size: 0.8rem;
}




/* jumbotron */
#jumbotron {
    background-color: var(--green);
    color: var(--white);
}

#jumbotron > div {
    max-width: 400px;
}

#jumbotron img {
    width: 10rem;
    display: block;
}





/* portfolio */
#portfolio ._decoration {
    color: var(--darkBlue);
}




/* about */
#about {
    background-color: var(--green);
    color: var(--white);
}

#about a {
    color: var(--white);
    border-color: var(--white);
}




/* contact */
#contact form * {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#contact form *::placeholder {
    color: var(--darkBlue);
}




/* footer */
footer {
    color: var(--white);
    background-color: var(--blue);
}

footer .colophon {
    background-color: var(--darkBlue);
}