:root {
    --darkBlue: #2C3E50;
    --blue: #3A546D;
    --green: #1ABC9C;
    --white: #fff;
}


body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}




/* header */
header {
    background-color: var(--darkBlue);
}

header #navbarNav {
    flex-grow: 0;
    font-size: 0.8rem;
}




/* hero */
#hero {
    background-color: var(--green);
    color: var(--white);
}

#hero div {
    max-width: 400px;
}

.img {
    height: 16rem;
}



/* portfolio */
#portfolio div.red {
    height: 16rem;
}




/* about */
#about {
    background-color: var(--green);
    color: var(--white);
}

.dlbutton {
    width: 150px;
    color: var(--white);
}




/* footer */
footer {
    color: var(--white);
    background-color: var(--blue);
}

footer .colophon {
    background-color: var(--darkBlue);
}